/gha-creds*
/dist
/node_modules
/packages/*/node_modules
/packages/*/dist
/packages/*/tsconfig.tsbuildinfo
/dist
/docs
/ops
/.claude
/.github
/.githooks
/.gitignore
/.dockerignore
/.gitmodules
/.env*
/README.md
/SECURITY.md
/CONTRIBUTING.md